<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Antlr4.Runtime" version="4.6.6" targetFramework="net46" />
  <package id="Microsoft.AnalysisServices.retail.amd64" version="19.16.3.4" targetFramework="net46" />
  <package id="Newtonsoft.Json" version="10.0.3" targetFramework="net46" />
</packages>