################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/AntlrGrammars/bin
/AntlrGrammars/obj
/AntlrGrammars/CSharpLexer.g4.cs
/AntlrGrammars/DAXLexer.g4.cs
/TabularEditor/bin
/TabularEditor/obj
/TabularEditor/TabularEditor.csproj.user
/TabularEditorSetup/Debug
/TabularEditorSetup/Release
/TabularEditorTest/bin
/TabularEditorTest/obj
/TabularEditorTest/TabularEditorTest.csproj.user
/TOMWrapper/bin
/TOMWrapper/obj
/TOMWrapper/TOMWrapper.csproj.user
/TOMWrapper/TOMWrapper/Base/*.generated.cs
/packages
/.vs/TabularEditor/v14
/TabularEditor/publish
/.vs
/.vs
*.suo
/PluginTest/bin/Debug
/PluginTest/obj/Debug
/PluginTest/obj/Debug
/Plugins/SimplePlugin/obj
/Plugins/VisualizeRelationships/obj/Debug
/Plugins/VisualizeRelationships/bin/Release
/Plugins/VisualizeRelationships/obj/Release
/PluginTest/obj/Release
/Plugins/VisualizeRelationships/obj
/TabularEditorSetup/Release-CL1400
