<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.AnalysisServices" version="19.104.1" targetFramework="net48" />
  <package id="Microsoft.ApplicationInsights" version="2.23.0" targetFramework="net48" />
  <package id="Microsoft.Identity.Client" version="4.72.1" targetFramework="net48" />
  <package id="Microsoft.Identity.Client.Broker" version="4.72.1" targetFramework="net48" />
  <package id="Microsoft.Identity.Client.NativeInterop" version="0.18.1" targetFramework="net48" />
  <package id="Microsoft.IdentityModel.Abstractions" version="8.7.0" targetFramework="net48" />
  <package id="Microsoft.Testing.Extensions.Telemetry" version="1.4.2" targetFramework="net48" />
  <package id="Microsoft.Testing.Extensions.TrxReport.Abstractions" version="1.4.2" targetFramework="net48" />
  <package id="Microsoft.Testing.Extensions.VSTestBridge" version="1.4.2" targetFramework="net48" />
  <package id="Microsoft.Testing.Platform" version="1.4.2" targetFramework="net48" />
  <package id="Microsoft.Testing.Platform.MSBuild" version="1.4.2" targetFramework="net48" />
  <package id="Microsoft.TestPlatform.ObjectModel" version="17.11.1" targetFramework="net48" />
  <package id="MSTest.TestAdapter" version="3.6.2" targetFramework="net48" />
  <package id="MSTest.TestFramework" version="3.6.2" targetFramework="net48" />
  <package id="Newtonsoft.Json" version="13.0.3" targetFramework="net48" />
  <package id="System.Buffers" version="4.6.1" targetFramework="net48" />
  <package id="System.Collections.Immutable" version="1.5.0" targetFramework="net48" />
  <package id="System.Diagnostics.DiagnosticSource" version="7.0.2" targetFramework="net48" />
  <package id="System.Memory" version="4.6.3" targetFramework="net48" />
  <package id="System.Numerics.Vectors" version="4.6.1" targetFramework="net48" />
  <package id="System.Reflection.Metadata" version="1.6.0" targetFramework="net48" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="6.1.2" targetFramework="net48" />
</packages>